.navbar b {
  font-size: 1.3em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: rgb(27, 24, 24);
  cursor: pointer;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .navbar b {
    font-size: 0.9em;
    font-weight: 500;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .navbar b {
    font-size: 1.1em;
    font-weight: 500;
  }
}
