.what {
  height: 400px;
  text-align: center;
  padding-top: 10%;
}

.concept {
  height: 400px;
  text-align: center;
  padding-top: 10%;
}

.why {
  height: 400px;
  text-align: center;
  padding-top: 10%;
}

.when {
  height: 400px;
  text-align: center;
  padding-top: 10%;
}

.technology {
  height: 400px;
  text-align: center;
  padding-top: 10%;
}

.who {
  height: 400px;
  text-align: center;
  padding-top: 10%;
}
