.portal {
  height: 20vh;
  text-align: center;
  margin-top: 8.6vh;
  padding: 30px;
  color: white;
  background-color: black;
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .portal {
    margin-top: 15vh;
    height: 35vh;
  }
}
